:root {
    --main-color: #8961c9;
}
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--main-color);
}

#cabecalho .nav .nav-link.active {
    background: #fff;
    color: var(--main-color);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
#ofertas .nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#sobre,
#ofertas {
    background-color: #ffeae6;
}

.text-colored {
    color: var(--main-color);
}

#ofertas .nav-cardapio .nav-link.active,
#contato button {
    background-color: var(--main-color);
    color: #fff;
}

#ofertas .nav-cardapio .nav-link:hover {
    color: var(--main-color);
}

.social-links li {
    list-style: none;
    display: inline;
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}