body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background: #fff;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}